name: Deploy to GitHub Pages

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # 1. Install Flutter
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      # 2. Download the packages
      - run: flutter pub get

      # 3. Build the website AND Inject the Key
      - name: Build Web
        run: flutter build web --release --dart-define=GOOGLE_API_KEY=${{ secrets.GOOGLE_API_KEY }}

      # 4. Upload to GitHub Pages
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
